
<div class="fabSpeedDialdemoBasicUsage">
	 <md-content class="md-padding" layout="column">
	   
	    <div class="subnav" layout="row" layout-align="center center">
	      

	        <li><a href="/#/myRecipes">
	            <i class="material-icons">restaurant_menu</i></a></li>

			<li><a href="/#/new">
	            <i class="material-icons">playlist_add</i>
	        </a></li> 

	        <li><a href="/#/books">
	            <i class="material-icons">import_contacts</i>
	        </a></li>

			<li><a href="/#/user/{{ user.id }}">
	           <i class="material-icons">face</i>
			</a></li>

			<li><a href="/logout">
				<i class="material-icons">cancel</i>
			</a></li>

	   </div>
	  </md-content>
  </div>