.logo
	height: 5em
	margin: 0 auto
	color: #259b24

header
	background: #259b24
	
		
.sub-nav
	width: 100%
	background: #ddd
	
a,
i 
	color: #259b24
	
.material-icons
	font-size: 36px
	margin: .5em 1em
	color: #259b24
	
@media(max-width: 420px)
	.material-icons
		margin: .2em
